.compare{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 30vw;
    height: 100vh;

    border-radius: 0 25px 25px 0;
    border: rgba(19, 150, 211, 0.9) solid 4px;
    
    background-color: rgba(38, 179, 244, 0.9);

    box-shadow: darkgray 1px 1px 10px;

    h3{
        text-align: center;
    }

    .country1, .country2{
        height: 50%;
        padding: 15px;
    }

    .country2{
        border-top: rgba(19, 150, 211, 0.9) solid 4px;
    }
}