.compare{
    position: absolute;
    bottom: 0;
    left: 15vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70vw;
    height: 85vh;
    padding: 20px;

    border-radius: 7px 7px 0 0;
    border-left: none;
    
    background-color: white;

    box-shadow: darkgray 1px 1px 10px;

    #locations{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 100%;

        h3{
            width: 40%;
            padding-bottom: 25px;
            text-align: center;
            text-transform: uppercase;
            border-bottom: rgba(19, 150, 211, 0.9) solid 1px;
        }
    }
    

    .stats{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        padding: 10px 0 10px 0;

        .max-stat{
            display: flex;
            width: 40%;
            height: 50px;

            background-color: #EBF8FD;
            border-radius: 7px;

            div{
                width: 40%;
                height: 100%;
            }
        }

        .max-stat:nth-of-type(1){
            flex-direction: row-reverse;

            div{
                background-color: #98C1D9;
                border-radius: 25px 7px 7px 25px;
            }
        } 
        
        .max-stat:nth-of-type(2) div{
            background-color: #98C1D9;
            border-radius: 7px 25px 25px 7px;
        }

        p{
            width: 20%;
            margin: 0;

            text-align: center;
        }
    }

    .feedback-msg{
        margin-top: 5vh;
        text-align: center;
        font-style: italic;
        font-weight: 400;
    }
}