@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

p{
    font-weight: 200;
}

h1{
    font-weight: 800;
}

h2{
    font-weight: 600;
}

h3{
    font-weight: 400;
}